
{:paths ["source-code/clj"]
 :deps  {clj-git/clj-jgit             {:git/url "https://github.com/clj-jgit/clj-jgit"
                                       :sha     "55bfc2d49d38ac47663db19d38accf71d76fc551"}
         bithandshake/cljc-fruits     {:git/url "https://github.com/bithandshake/cljc-fruits"
                                       :sha     "e2fb9d3ec28fb80d464ee31a73f6d999b4a7bd87"}
         mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "9175f09f689a56634556545108f731d957ad793c"}
         mt-utilities/cljc-io         {:git/url "https://github.com/mt-utilities/cljc-io"
                                       :sha     "a235c0cabe2d010470fc0ecbd780825a8b7c683b"}
         mt-utilities/cljc-time       {:git/url "https://github.com/mt-utilities/cljc-time"
                                       :sha     "eddaa58545dd4dc5f6ba296a2d4d498b3449a5fa"}
         org.clojure/clojure          {:mvn/version "1.10.1"}}}
